/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark {
  --backgroundColor: black;
  --backgroundImage: url(../svg/pattern-dark.svg);
  --primaryColor: #00cc14;
}

@media (prefers-color-scheme: dark) {
  .theme-auto {
    --backgroundColor: black;
    --backgroundImage: url(../svg/pattern-dark.svg);
    --primaryColor: #00cc14;
  }
}

.theme-light {
  --backgroundColor: white;
  --backgroundImage: url(../svg/pattern-light.svg);
  --primaryColor: black;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --backgroundColor: white;
    --backgroundImage: url(../svg/pattern-light.svg);
    --primaryColor: black;
  }
}
