/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --backgroundColor: white;
  --backgroundImage: url(../svg/pattern-light.svg);
  --primaryColor: black;

  --regularFont: 'wght' 400, 'wdth' 100, 'opsz' 0;
  --accentFont: 'wght' 700, 'wdth' 100, 'opsz' 0;
}
